<aside class="sidebar">
    <div class="logo">
        <h2 style="color: #c3c3c3;">Sidebar</h2>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard"><button class="generelt">Dashboard</button></a>
        <a href="/konto"><button class="generelt">Konto</button></a>
        <a href="/Portofølje"><button class="generelt">Portofølje</button></a>
    </nav>
</aside>