<aside class="sidebar">
    <div class="logo">
        <h2>MAA INVEST</h2>
    </div>
    <nav class="nav-links">
        <a href="/dashboard" class="nav-link">DASHBOARD</a>
        <a href="/konto" class="nav-link">ACCOUNT</a>
        <a href="/portefolje" class="nav-link">PORTOFOLIO</a>
        <a href="/" class="nav-link" id="logout">LOG OUT</a>
    </nav>

<script>
class Logout{
  constructor(buttonId) {
    this.button = document.getElementById(buttonId);
  }
  init() {
    if(this.button) {
      this.button.addEventListener('click', async (e) => {
        e.preventDefault();
        this.logout();
      });
    } 
  }
  logout(){
    localStorage.clear();
    window.location.href = '/';
  }
}

const logout = new Logout('logout');
logout.init();
</script>

</aside>

 