<aside class="sidebar">
    <div class="logo">
        <h2 style="color: #c3c3c3;">Sidebar</h2>
    </div>
    <nav>
        <a href="/" class="nav-link">Hjem</a>
        <a href="/dashboard" class="nav-link">Dashboard</a>
        <a href="/konto" class="nav-link">Konto</a>
        <a href="/Portofølje" class="nav-link">Portofølje</a>
    </nav>
</aside>