<aside class="sidebar">
    <div class="logo">
        <h2>MAA INVEST</h2>
    </div>
    <nav class="nav-links">
        <a href="/" class="nav-link">HOME</a>
        <a href="/dashboard" class="nav-link">DASHBOARD</a>
        <a href="/konto" class="nav-link">ACCOUNT</a>
        <a href="/Portofølje" class="nav-link">PORTOFOLIO</a>
    </nav>
</aside>