<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blli kunde</title>
  <link rel="stylesheet" href="blikunde.css">
</head>
<body>
  <div>
    <h1>Bli kunde</h1>
    <form action="/login" method="post" id="blikunde">
      <input type="text" name="name" placeholder="Navn">
      <br>
      <input type="text" name="email" placeholder="Email">
      <br>
      <input type="text" name="password" placeholder="Password">
    </form>
  </div>
  <a href="/"><button class="home-button">Home</button></a>
  <a href="/login"><button class="Submit">Submit</button></a>
</body>
</html>