<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bli Kunde</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/blikunde.css">
  <link rel="stylesheet" href="/styles/sentrer.css">
</head>
<body>
  <main class="formContainer">
    <h1>BLI KUNDE</h1>
    
    <form> 
      <label for="brukernavn">BRUKERNAVN</label>
      <input type="text" placeholder="Nytt Brukernavn" id="brukernavn" required/>

      <label for="passord">PASSORD</label>
      <input type="text" placeholder="Nytt Passord" id="passord" required/>

      <label for="email">EMAIL</label>
      <input type="text" placeholder="Ny Email" id="email" required/>

      <button type="button" class="Submit" id="submitbutton">REGISTRER BRUKER</button>
    </form>
  </main>
  <a href="/"><button class="home-button">Home</button></a>
</body>
<script>
  const submitbutton = document.getElementById('submitbutton'); 
  
  //event listener aktiveres ved klikk p책 registrer bruker
  submitbutton.addEventListener('click', function(event) {
    event.preventDefault(); //forhindrer sideoppdatering
    
    //henter verdier fra de ulike input feltene
    const brukernavn = document.getElementById('brukernavn').value;
    const passord = document.getElementById('passord').value;
    const email = document.getElementById('email').value;
    console.log(brukernavn, passord, email) // Debug for 책 vise verdier i konsollen
   
    //Sender en POST request til server med json data
    fetch('/blikunde', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        brukernavn: brukernavn,
        passord: passord,
        email: email
      })
    })
    .then(response => {
      if (!response.ok) {
        //Hvis serveren returnerer en feilmelding skal den kastes videre
      return response.json().then(data => {
        throw new Error(data.message);
        });
      } 
      return response.json(); //fortsett hvis alt er ok
    })
    .then(data => {
      console.log('Kunde opprettet:', data);
      alert('Kunde opprettet! Du kan n책 logge inn.');
      window.location.href = '/login'; // G책 til innloggingssiden
    })
    .catch(error => console.error('Error', error)); //Logg feilen
      alert(error.message); // Viser feilmeldingen fra serveren
    });
</script>
</html>