<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bli Kunde</title>
  <link rel="stylesheet" href="blikunde.css">
</head>
<body>
  <div>
    <h1>Bli kunde</h1>
    <form > 
      <input type="text" placeholder="Nytt Brukernavn" id="brukernavn">
      <br>
      <input type="text" placeholder="Nytt Passord" id="passord">
      <br>
      <input type="text" placeholder="Ny Email" id="email">
      <br>
      <button type="button" class="Submit" id="submitbutton">Submit</button>
    </form>
  </div>
  <a href="/"><button class="home-button">Home</button></a>
</body>
<script>
  const submitbutton = document.getElementById('submitbutton');
  
  
  submitbutton.addEventListener('click', function(event) {
    event.preventDefault(); 
    const brukernavn = document.getElementById('brukernavn').value;
    const passord = document.getElementById('passord').value;
    const email = document.getElementById('email').value;
    console.log(brukernavn, passord, email)
   
    fetch('/blikunde', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        brukernavn: brukernavn,
        passord: passord,
        email: email
      })
    })
    .then(response => {
      return response.json()
    })
    
    if (!response.ok) {
      return response.json().then(data => {
        throw new Error(data.message);
      });
    }
    }
    .then(data => {
      console.log('Kunde opprettet:', data);
      alert('Kunde opprettet! Du kan nå logge inn.');
      window.location.href = '/login'; // Gå til innloggingssiden
    })
    .catch(error => console.error('Error:', error));
  });
</script>
</html>