<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bytt Passord</title>
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/byttepassord.css" />
</head>
<body>
  <div class="formContainer">
    <h1>BYTT PASSORD</h1>
    <form>
      <input type="text" id="brukernavn" placeholder="Brukernavn" />
      <input type="password" id="oldPassord" placeholder="Gammelt Passord" />
      <input type="password" id="newPassord" placeholder="Nytt Passord" />
      <button type="button" id="submitbutton">Submit</button>
    </form>
    <button class="homeButton"><a href="/">Home</a></button>
  </div>

  <script>
    //henter knappen for indsending
    const submitbutton = document.getElementById('submitbutton');
    
    //Legger til event listener som kjøres ved klikk av Submit
    submitbutton.addEventListener('click', function (event) {
      event.preventDefault(); //forhindrer at siden lastes på nytt

      //henter input verdier fra skjem
      const brukernavn = document.getElementById('brukernavn').value;
      const oldPassord = document.getElementById('oldPassord').value;
      const newPassord = document.getElementById('newPassord').value;

      fetch('/byttepassord', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ brukernavn, oldPassord, newPassord }),
      })
        .then((response) => {
          //Hvis responsen ikke er ok, kast feilmelding
        if (!response.ok){
          return response.json().then((data) => {
            throw new Error(data.message || 'Noe gikk galt');
          });
        }
        return response.json(); //returnerer data hvis ok
        })
        .then((data) => {
          alert(data.message); //hvis feilmelding til bruker
            window.location.href = '/login'; //naviger til login side
        })
    });
  </script>
</body>
</html>
