<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bytt Passord</title>
  <link rel="stylesheet" href="/styles/login.css" />
</head>
<body>
  <div>
    <h1>Bytt Passord</h1>
    <form>
      <input type="text" id="brukernavn" placeholder="Brukernavn">
      <br>
      <input type="password" id="oldPassord" placeholder="Gammelt Passord">
      <br>
      <input type="password" id="newPassord" placeholder="Nytt Passord">
      <br>
      <button type="button" id="submitbutton">Submit</button>
    </form>
  </div>
  <a href="/"><button>Home</button></a>

  <script>
    const submitbutton = document.getElementById('submitbutton');
    submitbutton.addEventListener('click', function (event) {
      event.preventDefault();
      const brukernavn = document.getElementById('brukernavn').value;
      const oldPassord = document.getElementById('oldPassord').value;
      const newPassord = document.getElementById('newPassord').value;

      fetch('/byttepassord', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ brukernavn, oldPassord, newPassord }),
      })
        .then((response) => {
        if (!response.ok){
          return response.json().then((data) => {
            throw new Error(data.message || 'Noe gikk galt');
          });
        }
        return response.json();
        })
        .then((data) => {
          alert(data.message);
            window.location.href = '/login';
        })
    });
  </script>
</body>
</html>
