<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bytt Passord</title>
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/byttepassord.css" />
</head>
<body>
  <div class="formContainer">
    <h1>BYTT PASSORD</h1>
    <form>
      <input type="text" id="brukernavn" placeholder="Brukernavn" />
      <input type="password" id="oldPassord" placeholder="Gammelt Passord" />
      <input type="password" id="newPassord" placeholder="Nytt Passord" />
      <button type="button" id="Submit">Submit</button>
    </form>
    <button class="homeButton"><a href="/">Home</a></button>
  </div>

  <script>
    const submitbutton = document.getElementById('submitbutton');
    submitbutton.addEventListener('click', function (event) {
      event.preventDefault();
      const brukernavn = document.getElementById('brukernavn').value;
      const oldPassord = document.getElementById('oldPassord').value;
      const newPassord = document.getElementById('newPassord').value;

      fetch('/byttepassord', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ brukernavn, oldPassord, newPassord }),
      })
        .then((response) => {
        if (!response.ok){
          return response.json().then((data) => {
            throw new Error(data.message || 'Noe gikk galt');
          });
        }
        return response.json();
        })
        .then((data) => {
          alert(data.message);
            window.location.href = '/login';
        })
    });
  </script>
</body>
</html>
