<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/menyPanel.css"> 
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <%- include ('partials/menyPanel') %> 
    
    <h1 id="dashboardOverskrift"></h1>
    
    <main class="dashboard-innhold">
        <!-- Øverste rad med summer -->
        <section class="samletVerdiBoks">
          <div class="samletVerdi">
            <h3>Samlet verdi</h3>
            <p id="samletVerdi"></p>
          </div>
          <div class="realisertGevinstBoks">
            <h3>Total Realisert gevinst</h3>
            <p id="realisertGevinst"></p>
          </div>
          <div class="urealisertGevinstBoks">
            <h3>Total Urealisert gevinst</h3>
            <p id="urealisertGevinst"></p>
          </div>
        </section>
    
        <!-- Verdiutvikling -->
        <section class="verdiutvikling">
          <h3>Samlet verdiutvikling</h3>
          <canvas id="verdiGraf"></canvas>
        </section>
    
        <!-- Aksjetabeller -->
        <section class="aksjetabeller">
          <div class="aksjetabell">
            <h3>Topp 5 aksjer etter verdi</h3>
            <table>
              <thead>
                <tr>
                  <th>Navn</th>
                  <th>Portefølje</th>
                  <th>24t Endring</th>
                  <th>Verdi</th>
                </tr>
              </thead>
              <tbody id="aksjerVerdi"></tbody>
            </table>
          </div>
    
          <div class="aksjetabell">
            <h3>Topp 5 aksjer etter urealisert gevinst</h3>
            <table>
              <thead>
                <tr>
                  <th>Navn</th>
                  <th>Portefølje</th>
                  <th>24t Endring</th>
                  <th>Gevinst</th>
                </tr>
              </thead>
              <tbody id="aksjerGevinst"></tbody>
            </table>
          </div>
        </section>
      </main>
    <script>
      //henter brukernavn fra localStorage for å bruke senere
        const brukernavn = localStorage.getItem('brukernavn');
        //refferanse til tabellen for top 5 aksjer etter uralisert gevinst
        const topp5AksjerGevinst = document.getElementById('aksjerGevinst');
        
        //hent og vis topp 5 aksjer etter gevinst
        fetch('/topp5AksjerGevinst', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'brukernavn': brukernavn
            },
         })

        .then(response => response.json())
        .then(data => { 
          //Viser urealisert gevinst
          document.getElementById('urealisertGevinst').textContent = data.totalUrealisertGevinst + ' dkk';
          
          //viser realisert gevinst per valuta eller "--" hvis ingen finnes
          const realisert = document.getElementById('realisertGevinst')
          if (data.totalRealisertGevinst.length === 0){
            realisert.textContent = '--'
          } else {
            realisert.innerHTML = data.totalRealisertGevinst.map(item =>{
              return `${item.gevinst} ${item.valuta}`
            }).join('<br>')
          }

          //hvis ingen aksjer finnes, hvis tom melding
          if (data.length === 0){
            const rad = document.createElement('tr');
            const celle = document.createElement('td');
            celle.colSpan = 4; // Merge alle columns
            celle.textContent = 'Ingen aksjer funnet';
            rad.appendChild(celle);
            topp5AksjerGevinst.appendChild(rad);
            return;
          }

          //fyll tabellen med aksjer
            data.top5.forEach(aksje => {
              const rad = document.createElement('tr');
              const navn = document.createElement('td');
              navn.textContent = aksje.navn;

              const portefolje = document.createElement('td');
              portefolje.textContent = aksje.portefolje;

              //fargekoding
              const endring = document.createElement('td');
              endring.textContent = aksje.endring24h + '%';
              if (aksje.endring24h > 0) {
                endring.style.color = 'green';
              } else if (aksje.endring24h < 0) {
                endring.style.color = 'red';
              } 

              const gevinst = document.createElement('td');
              gevinst.textContent = aksje.gevinst;

              //Legger til celler i raden
              rad.appendChild(navn);
              rad.appendChild(portefolje);
              rad.appendChild(endring);
              rad.appendChild(gevinst);

              //egger til raden i tabellen
              topp5AksjerGevinst.appendChild(rad);
            });
          })
        .catch(error => {
          console.error('Error ved fetching av aksjer', error);
        });

        //hent samlet verdi for brukeren porteføljer basert på per valuta
        fetch(`/samlet-verdi/${brukernavn}`)
          .then(res => res.json())
          .then(data => {
            const sVerdi = document.getElementById('samletVerdi');

            if(data.length === 0){
              sVerdi.textContent = '0';
            }
            else{
              sVerdi.innerHTML = data.map(item => {
                const verdi = Number(item.samletVerdi).toFixed(2); 
                return `${verdi} ${item.valuta}`;
            }).join('<br>');
            }
          })
          .catch(error => console.error('Feil ved henting av samlet verdi', error));

        //Topp 5 aksjer etter verdi
        const topp5AksjerVerdi = document.getElementById('aksjerVerdi');
        fetch('/topp5AksjerVerdi', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'brukernavn': brukernavn
            },
         })
        .then(response => response.json())
        .then(data => { 
          if (data.length === 0){
            const rad = document.createElement('tr');
            const celle = document.createElement('td');
            celle.colSpan = 4; // Merge alle columns
            celle.textContent = 'Ingen aksjer funnet';
            rad.appendChild(celle);
            topp5AksjerVerdi.appendChild(rad);
            return;
          }
            data.forEach(aksje => {
              const rad = document.createElement('tr');
              const navn = document.createElement('td');
              navn.textContent = aksje.navn;

              const portefolje = document.createElement('td');
              portefolje.textContent = aksje.portefolje;

              const endring = document.createElement('td');
              endring.textContent = aksje.endring24h + '%';
              if (aksje.endring24h > 0) {
                endring.style.color = 'green';
              } else if (aksje.endring24h < 0) {
                endring.style.color = 'red';
              } 

              const verdi = document.createElement('td');
              verdi.textContent = aksje.verdi;

              rad.appendChild(navn);
              rad.appendChild(portefolje);
              rad.appendChild(endring);
              rad.appendChild(verdi);

              topp5AksjerVerdi.appendChild(rad);
            });
          })
        .catch(error => {
          console.error('Error ved fetching av aksjer', error);
        });

        //henter data for samlet verdiutvikling og tegner linjediagram
        fetch('/api/portefolje/samletverdiutvikling')
          .then(response => response.json()) //gjør om svaret til json
          .then(data => {
            //lager en liste med verdier
            const labels = data.map(entry => entry.dato);
            const verdier= data.map(entry => entry.verdi);

            //finner canvas elementet og gjør klart for å tegne graf
            const ctx = document.getElementById('verdiGraf').getContext('2d');

            //setter opp grafens data og utseende
            const chartData = {
              labels: labels,
              datasets: [{
                label: 'Verdiutvikling',
                data: verdier,
                borderColor: 'rgba(75, 192, 192, 1)', //farge på linjen
                backgroundColor: 'rgba(75, 192, 192, 0.2)', //bakgrunnsfarge
                borderWidth: 1,
              }]
            };

            //konfigurerer og tegner grafen
            const config = {
              type: 'line',
              data: chartData,
            };

            //lagre linjediagrammet på nettsiden
            new Chart(ctx, config);
          })
          .catch(error => {
            console.error('Error ved fetching av portefoljedataen', error);
          });

          //Setter overskriften med brukernavn dersom man er logget inn
      if(brukernavn){
        const overskrift = document.getElementById('dashboardOverskrift')
        overskrift.textContent = `Dashboard for ${brukernavn}`
      }
    </script>
</body>
</html>