<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/menyPanel.css">    
</head>
<body>

    <%- include ('partials/menyPanel') %>   
    
    <main class="main-content">
        <h1>Dashboard</h1>
        <p>Her kan du se din konto</p>
        <div id="konto">konto</div>
        <div id="Eiendeler">Eiendeler</div>
           
        
    </main>
</body>
</html>