<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/styles/menyPanel.css">    
</head>
<body>
    <h1>Dashboard</h1>

    <%- include ('partials/menyPanel') %>   
    
    <main class="dashboard-innhold">
        <!-- Øverste rad med summer -->
        <section class="samletVerdiBoks">
          <div class="info-boks">
            <h3>Samlet verdi</h3>
            <p id="samletVerdi"></p>
          </div>
          <div class="realisertGevinstBoks">
            <h3>Realisert gevinst</h3>
            <p id="realisertGevinst"></p>
          </div>
          <div class="urealisertGevinstBoks">
            <h3>Urealisert gevinst</h3>
            <p id="urealisertGevinst"></p>
          </div>
        </section>
    
        <!-- Verdiutvikling -->
        <section class="verdiutvikling">
          <h3>Samlet verdiutvikling</h3>
          <div class="graf-placeholder">[Graf kommer her]</div>
        </section>
    
        <!-- Aksjetabeller -->
        <section class="aksjetabeller">
          <div class="aksjetabell">
            <h3>Topp 5 aksjer etter verdi</h3>
            <table>
              <thead>
                <tr><th>Navn</th><th>Portefølje</th><th>24t Endring</th><th>Verdi</th></tr>
              </thead>
              <tbody id="aksjerVerdi"></tbody>
            </table>
          </div>
    
          <div class="aksjetabell">
            <h3>Topp 5 aksjer etter gevinst</h3>
            <table>
              <thead>
                <tr><th>Navn</th><th>Portefølje</th><th>24t Endring</th><th>Verdi</th></tr>
              </thead>
              <tbody id="aksjerGevinst"></tbody>
            </table>
          </div>
        </section>
      </main>
    <script>

        
    </script>
</body>
</html>