<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/enkeltPortefolje.css">
  <link rel="stylesheet" href="/styles/menyPanel.css">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

  <%- include ('partials/menyPanel') %>

  <main class="main">
    <div class="toppseksjon">
      <h1 id="portefoljeNavn">Laster portefølje...</h1>
      <div class="knappecontainer">
        <button id="historikkKnapp">HANDELS HISTORIKK</button>
        <button id="kjøpAksjeKnapp">REGISTRER KJØP</button>
        <button id="selgeAksjeKnapp">REGISTRER SALG</button>
      </div>
    </div>

    <div class="verdiOgFordeling">
      <section class="verdiutvikling">
        <h3>Samlet verdiutvikling</h3>
        <canvas id="verdiGraf"></canvas>
      </section>

      <section class="fordeling">
        <h3>Fordeling av verdi</h3>
        <canvas id="fordelingGraf"></canvas>
        <p class="totalverdiTekst">Total verdi i DKK</p>
        <p id="totalVerdi">0 DKK</p>
      </section>
    </div>

    <section class="aksjetabell">
      <h3>Aksjer i porteføljen</h3>
      <table>
        <thead>
          <tr>
            <th>Navn</th>
            <th>Volume</th>
            <th>24h Endring</th>
            <th>Pris</th>
            <th>Verdi</th>
            <th>Urealisert gevinst</th>
          </tr>
        </thead>
        <tbody id="aksjeInnhold"></tbody>
      </table>
    </section>
  </main>
</body>
    <script>
      const portefoljeNavn = document.getElementById('portefoljeNavn');
      const kjøpAksjeKnapp = document.getElementById('kjøpAksjeKnapp');
      const historikkKnapp = document.getElementById('historikkKnapp');
      const portefoljeID = localStorage.getItem('aktivPortefoljeID');
      const aksjeInnhold = document.getElementById('aksjeInnhold');

      if (!portefoljeID) {
        alert("Ingen portefølje valgt.");
        window.location.href = '/portefolje';
      }

      //hent porteføjens navn
      fetch(`/api/portefolje/${portefoljeID}/info`)
        .then(res => res.json())
        .then(portefolje => {
          portefoljeNavn.textContent = portefolje.portefoljeNavn;
          // Her kan det også fylle inn annen porteføljeinfo 
        })
        .catch(err => {
          console.error('Feil ved henting av portefølje:', err);
          alert("Kunne ikke hente porteføljeinformasjon.");
          window.location.href = '/portefolje';
        });

        selgeAksjeKnapp.addEventListener('click', () => {
        window.location.href = '/salg';
        });

      kjøpAksjeKnapp.addEventListener('click', () => {
        window.location.href = '/handel';
        });
        historikkKnapp.addEventListener('click', () => {
          window.location.href = '/handelshistorikk';
      });
      //Hent porteføljens totalverdi
      fetch('/api/portefolje/verdi', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ portefoljeID })
      })
        .then(res => res.json())
        .then(data => {
          document.getElementById('totalVerdi').innerHTML = `${data.totalVerdi.toFixed(2)} DKK`;
        })
        .catch(err => {
          console.error('Feil ved henting av aksjer:', err);
          alert("Kunne ikke hente aksjer.");
        });

      //navigasjon
      kjøpAksjeKnapp.addEventListener('click', () => {
        window.location.href = '/kjop';
      });
      // under her hentes tabellen som heter aksjer i porteføljen
      const aksjeTabell = document.getElementById('aksjeInnhold');

      // Dounugth diagram oversikt

      fetch(`/api/portefolje/${portefoljeID}/fordeling`)
        .then(res => res.json())
        .then(data => {
          const fordelingLabels = [];
          const verdier = [];
        
        data.forEach(aksje => {
            fordelingLabels.push(aksje.ISIN);
            verdier.push(aksje.totalMengde);
          });
        
          const doughnutCtx = document.getElementById('fordelingGraf').getContext('2d');

          const doughnutData = {
            labels: fordelingLabels,
            datasets: [{
              label: 'Fordeling av verdi',
              data: verdier,
              backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              hoverOffset: 4,
            }]
          }
          const doughnutConfig = {
            type: 'doughnut',
            data: doughnutData,
          };
          new Chart(doughnutCtx, doughnutConfig)
        });

        //Linje diagram oversikt
      fetch('/api/portefolje/verdiutvikling',{
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ portefoljeID })
      })
        .then(res => res.json())
        .then(data => {
          const verdiGraf = document.getElementById('verdiGraf').getContext('2d');

          const labels = data.map(entry=> entry.dato);
          const verdier = data.map(entry => entry.verdi);

          const chartConfig = {
            type: 'line',
            data:{
            labels: labels,
            datasets: [{
              label: 'Verdiutvikling',
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              data: verdier,
              fill: false,
            }]
           }
          };
           new Chart(verdiGraf, chartConfig);
        })
        .catch(error => {
          console.error('Feil ved henting av linjegraf:', error);
        });
        

        //Hent aksjer i tabellen i enkeltporteføljen
      fetch('/aksjeienkeltportefolje',{
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ portefoljeID })
      })
        .then(res => res.json())
        .then(aksjer => {
          const aksjeTabell = document.getElementById('aksjeInnhold');
          aksjeTabell.innerHTML = '';   
          let samletVerdi = 0;

          aksjer.forEach(aksje => {
            const rad = document.createElement('tr');
           
            rad.innerHTML = `
              <td>${aksje.navn}</td>
              <td>${aksje.antall}</td>
              <td>${aksje.endringProsent.toFixed(2)} %</td>
              <td>${aksje.pris.toFixed(2)} DKK</td>
              <td>${aksje.totalVerdi.toFixed(2)} DKK</td>
              <td>${aksje.urealisertGevinst.toFixed(2)} DKK</td>
            `;
            aksjeTabell.appendChild(rad);

            samletVerdi += aksje.totalVerdi;
          });
          const totalVerdi2 = document.getElementById('totalVerdi');
          if (totalVerdi2){
            totalVerdi2.textContent = samletVerdi.toFixed(2) + ' DKK';
          }
        })
        .catch(err => {
          console.error('Feil ved henting av aksjer:', err);
        });
    </script>
  </body>
</html>