<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Handelshistorikk</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/enkeltPortefolje.css">
  <link rel="stylesheet" href="/styles/menyPanel.css">
  <link rel="stylesheet" href="/styles/handelshistorikk.css">
</head>
<body>
  <%- include('partials/menyPanel') %>

  <main class="formContainer">
    <h1>HANDELHISTORIKK</h1>
    <table id="handelshistorikk">
      <thead>
        <tr>
          <th>ISIN</th>
          <th>Verditype</th>
          <th>Dato</th>
          <th>Pris</th>
          <th>Mengde</th>
          <th>Total Sum</th>
          <th>Gebyr</th>
        </tr>
      </thead>
      <tbody id="historikkTabell">
        <!-- Data vil bli fylt inn her -->
      </tbody>
    </table>
  </main>

  <script>
    const portefoljeID = localStorage.getItem('aktivPortefoljeID');
    fetch(`/api/handelshistorikk/${portefoljeID}`)
      .then(res => res.json())
      .then(data => {
        const historikkTabell = document.getElementById('historikkTabell');

        if (data.length === 0) {
          rad.innerHTML = 'Ingen handler funnet.';
        } 
          
        data.forEach(historikk => {
            const rad = document.createElement('tr');
            rad.innerHTML = `
              <td>${historikk.ISIN}</td>
              <td>${historikk.verditype}</td>
              <td>${new Date(historikk.opprettelsedatoT).toLocaleDateString()}</td>
              <td>${historikk.verdiPapirPris}</td>
              <td>${historikk.mengde}</td>
              <td>${historikk.totalSum}</td>
              <td>${historikk.totalGebyr}</td>
            `;
            historikkTabell.appendChild(rad);
          });
      })
      .catch(error => {
        console.error('Error fetching handelshistorikk:', error);
      });
  </script>
  
</body>
</html>