<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAA Invest</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <h1>WELCOME TO MAA INVEST</h1>
  <h2>- INVEST IN THE FUTURE -</h2>
  <form action="/users" method = "post"></form>
  <a href="/login"><button class ="Login">Login</button></a>
  <a href="/blikunde"><button class="Blikunde">Bli kunde</button></a>
  <footer class="footer">
    <p>© 2025 MAA Invest. Alle rettigheter forbeholdt.</p>
  </footer>
</body>
</html>