<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Innsettelse</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/indsettelse.css">
  <link rel="stylesheet" href="/styles/menyPanel.css">

</head>
<body>
  <%- include ('partials/menyPanel') %> 

  <div class="container">
  <h1>Innskudd til konto</h1>
  <form id="innskuddsform">
    <label for="kontoValg">Velg konto:</label>
    <select id="kontoValg" name="kontoID" required></select><br><br>

    <label for="valuta">Valuta:</label>
    <input type="text" id="valuta" name="valuta" required><br><br>

    <label for="beløp">Beløp:</label>
    <input type="number" id="verdi" name="verdi" required><br><br>

    <input type="hidden" id="type" name="type" value="innskudd">

    <button class="submit" type="submit" name="submit">Sett inn</button>
  </form>
</div>
<script>
  //henter brukernavn lagret i localStorage
const brukernavn = localStorage.getItem('brukernavn');
const kontoValg = document.getElementById('kontoValg');
const form = document.getElementById('innskuddsform');

//henter alle kontoer for innlogget bruker
fetch('/api/konto', {
  headers: {
    'Content-Type': 'application/json',
    'brukernavn': brukernavn //brukernavn sendes som header
  }
})
.then(res => res.json())
.then(kontoer => {

  //for hver konto lagres et nytt option element i dropdown menyen
  kontoer.forEach(konto => {
    const option = document.createElement('option');
    option.value = konto.kontoID;
    option.textContent = konto.kontoNavn + '-saldo:' + konto.saldo;
    kontoValg.appendChild(option);
  });
})
.catch(err => {
  console.error(err);
  alert('Kunne ikke hente kontoer.');
});

//ser etter insendig av skjerma
form.addEventListener('submit', function(event) {
  event.preventDefault(); //hindrer siden i å laste inn på nytt

  //henter verdiene fra skjemaet
  const kontoID = document.getElementById('kontoValg').value;
  const valuta = document.getElementById('valuta').value;
  const verdi = document.getElementById('verdi').value;

  // sjekker at ingen felt er tomme
  if (!kontoID || !valuta || !verdi) {
    alert('Alle feltene må være fylt inn');
    return;
  }

  //sender POST request til serveren for å registrere innskuddet
  fetch('/indsettelse', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      kontoID: kontoID,
      valuta: valuta,
      verdi: verdi,
      type: 'innskudd'
    })
  })
  .then(async res => {
    const data = await res.json();
    if (!res.ok) throw new Error(data.message); //håndterer feilmeldinger fra server
    alert('Innskudd registrert!');
    window.location.href = '/dashboard'; //sender bruker til dashboard etter vellykket innskudd
  })
  .catch(err => {
    console.error(error);
    alert('Feil' + error);
  });
});
  </script>
</body>
</html>