<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <title>Registrer Kjøp</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/kjop.css">
  <link rel="stylesheet" href="/styles/menyPanel.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
  <%- include('partials/menyPanel') %>

  <main class="formContainer"> 
    <h1>REGISTRER KJØP</h1>
    <form id="handelForm">
      <div class="form-group">
        <label for="navn">Aksje Navn:</label>
        <input type="text" id="navn" required>
        <button type="button" id="søkAksje">Søk</button>
      </div>

      <div id="aksjeInfo" style="display: none;">
        <h2 id="aksjeNavn"></h2>
        <p>Pris: <span id="aksjePris"></span></p>
        <div style="max-width: 600px; margin-top: 2rem;">
          <canvas id="aksjeGraf"></canvas>
        </div>

      </div>

      <div class="form-group">
        <label for="mengde">Mengde:</label>
        <input type="number" id="mengde" required>
      </div>
      <p>Et gebyr på 0,05% vil automatisk bli beregnet ut i fra total kjøpspris</p>
      <button type="submit">KJØP AKSJE</button>
    </form>
  </main>

  <script>
    const portefoljeID = localStorage.getItem('aktivPortefoljeID');
    const registrerHandelKnapp = document.querySelector('button[type="submit"]')

    fetch(`/api/konto-status/${portefoljeID}`)
      .then(res => res.json())
      .then(data =>{
        console.log("lukkedatoK fra server:", data);

        if(data.lukkedatoK){
          // Hvis portoføljen er lukket, så
          registrerHandelKnapp.disabled = true;
          registrerHandelKnapp.textContent = "Det er ikke mulig å foreta en transaksjon, når kontoen er lukket."
        }
        else{
          registrerHandelKnapp.disabled = false;
          registrerHandelKnapp.textContent = "Registrer kjøp";
        }
      })
      .catch(err => {
        console.log("Klarte ikke hente kontostatus", err);
      });

    const brukernavn = localStorage.getItem('brukernavn');

    const søkAksjeBtn = document.getElementById('søkAksje');
    const aksjeInfo = document.getElementById('aksjeInfo');
    const aksjeNavn = document.getElementById('aksjeNavn');
    const aksjePris = document.getElementById('aksjePris');
    let aksjeData = null;

    søkAksjeBtn.addEventListener('click', () => {
      const navn = document.getElementById('navn').value.trim();

      if (!navn) return;

      fetch(`/api/aksje/${navn}`) 
        .then(res => res.json()) 
        .then(data => {
          aksjeData = data; 
          aksjeNavn.textContent = data.shortName;  
          aksjePris.textContent = `${data.regularMarketPrice} ${data.currency}`; 
          aksjeInfo.style.display = 'block'; 

          const labels = data.historikk.map(p => new Date(p.date).toLocaleDateString())
          const priser = data.historikk.map(p => p.close);

          new Chart(document.getElementById('aksjeGraf'),{
            type: 'line',
            data: {
              labels: labels,
              datasets: [{ 
                label: 'Utviklingen siste året',
                data: priser,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
                }]
              },
          })
        })
        .catch(err => { 
          console.error(err); 
          alert("Fant ikke aksjen. Sjekk navnet."); 
        });
    });

    document.getElementById('handelForm').addEventListener('submit', (handel) => {
      handel.preventDefault();

      const mengdeInput = document.getElementById('mengde');
      if (!mengdeInput) {
        alert("Mengde må være større enn 0");
        return;
      }
      const mengde = parseFloat(mengdeInput.value);
      const totalSum = aksjeData.regularMarketPrice * mengde;
      const gebyr = totalSum * 0.005; // 0.5% gebyr

      fetch('/kjop', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          brukernavn,
          portefoljeID,
          ISIN: aksjeData.symbol, //bruker aksjedatasymbol som isin fordi yahoo ikke har isin
          verditype: aksjeData.quoteType || 'aksje',
          verdiPapirPris: aksjeData.regularMarketPrice,
          mengde,
          totalSum,
          totalGebyr: gebyr,
          opprettelsedatoT: new Date().toISOString().split('T')[0],
          type: 'kjøp'
        })
      })
      .then(async res => {
        const data = await res.json();
        if (!res.ok) throw new Error(data.message);
        alert("Kjøp registrert!");
        window.location.href = '/enkeltportefolje';
      })
      .catch(err => {
        console.error(err);
        alert('Feil ved kjøp');
      });
    });
  </script>
</body>
</html>
