<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mine kontoer</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/konto.css">
  <link rel="stylesheet" href="/styles/menyPanel.css">
</head>

<body>
  <%- include ('partials/menyPanel') %> 
  <div class="toppseksjon">
    <h1>Mine kontoer</h1>
    <div class="Knapper">
      <a href="/opprettKonto"><button class="knapp">Opprett konto</button></a>
      <a href="/indsettelse"><button class="knapp">Sett inn penger</button></a>
      <a href="innskuddshistorikk"><button class="knapp">Innskuddshistorikk</button></a>
    </div>
  </div>
  <div class="kontoContainer">
    <table>
      <thead>
        <tr>
          <th>Kontonavn</th>
          <th>Saldo</th>
          <th>Valuta</th>
          <th>Bank</th>
          <th>Opprettet</th>
          <th>Lukket</th>
          <th>Konto status</th>
        </tr>
      </thead>
      <tbody id="kontoTableBody"></tbody>
    </table>
    <div class="Knapper">
    </div>
  </div>
  <script>
    //henter brukernavn og referanse til tabellen
    const brukernavn = localStorage.getItem('brukernavn');
    const kontoTableBody = document.getElementById('kontoTableBody');

    //sjekker om brukeren er logget inn
    if (!brukernavn) {
      alert('Du må være logget inn.');
      window.location.href = '/login';
    }

    //henter alle kontoene til brukeren
    fetch('/api/konto', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        'brukernavn': brukernavn,
      },
    })
    .then(response => response.json())
    .then(kontoer => {
      kontoTableBody.innerHTML = ''
      if (kontoer.length === 0) {
        kontoTableBody.innerHTML ='du har ingen kontoer';
        return;
      }

      kontoer.forEach(konto =>{
        let erDenLukket = !!konto.lukkedatoK;

        let opprettetDato ='';
        if (konto.opprettelsedatoK) {
          opprettetDato = new Date(konto.opprettelsedatoK).toLocaleDateString('no-NO');
          }else {
            opprettetDato = 'ukjent';
            }

        let lukketDato ='';

        if (konto.lukkedatoK) {
          lukkedato = new Date(konto.lukkedatoK).toLocaleDateString('no-NO');
          }else {
            lukkedato = 'ikke lukket';
            }
          
          const lukketCelle = document.createElement('td');
          lukketCelle.textContent = lukketDato;
          const statusCelle = document.createElement('td');

          const avsluttKnapp = document.createElement('button');
          avsluttKnapp.textContent = 'Lukk konto';
          avsluttKnapp.className = 'avslutt-knapp'

          const gjenopneKnapp = document.createElement('button');
          gjenopneKnapp.textContent = 'Gjenåpne konto';
          gjenopneKnapp.className = 'gjenopne-knapp'

          if (erDenLukket) {
            avsluttKnapp.textContent = 'kontoen er lukket'
            avsluttKnapp.disabled = true;
            gjenopneKnapp.style.display = 'inline';
            } else {
              avsluttKnapp.disabled = false;
              gjenopneKnapp.style.display = 'none';
              }
          
          avsluttKnapp.addEventListener('click', () => {
            fetch('/lukk-konto', {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({kontoID: konto.kontoID}) //sender kontoID i body 
          })

          .then(res => res.json())
          .then(()=> {
            lukketCelle.textContent = new Date().toLocaleDateString('no-NO');
            avsluttKnapp.textContent = 'kontoen er lukket'
            avsluttKnapp.disabled = true;
            gjenopneKnapp.style.display = 'inline';
            });
          });
          
          gjenopneKnapp.addEventListener('click',() =>{
            fetch('/gjenopne-konto', {
              method: 'PUT',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({kontoID: konto.kontoID})
          })
          .then(res => res.json())
          .then(() => {
            lukketCelle.textContent = 'Konto gjenåpnet';
            avsluttKnapp.textContent = 'Lukk konto';
            avsluttKnapp.disabled = false;
            gjenopneKnapp.style.display = 'none';
          });
        });

        statusCelle.appendChild(avsluttKnapp);
        statusCelle.appendChild(gjenopneKnapp);

  
        const rad = document.createElement('tr');
        rad.innerHTML = `
        <td>${konto.kontoNavn}</td>
        <td>${konto.saldo}</td>
        <td>${konto.valuta}</td>
        <td>${konto.bank}</td>
        <td>${opprettetDato}</td>
        `
        rad.appendChild(lukketCelle);
        rad.appendChild(statusCelle);
  
        kontoTableBody.appendChild(rad)
        })
        })
        .catch(feil =>{
          console.log(feil)
          alert('det gikk ikke å hente kontoene')
        })
  </script>
</body>
</html>