<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mine kontoer</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/konto.css">
  <link rel="stylesheet" href="/styles/menyPanel.css">
</head>

<body>
  <%- include ('partials/menyPanel') %> 
  <div class="toppseksjon">
    <h1>Mine kontoer</h1>
    <div class="Knapper">
      <button class="knapp">Opprett konto</button></a>
      <button class="knapp">Sett inn penger</button></a>
      <button class="knapp">Innskuddshistorikk</button></a>
    </div>
  </div>
  <div class="kontoContainer">
    <table>
      <thead>
        <tr>
          <th>Kontonavn</th>
          <th>Saldo</th>
          <th>Valuta</th>
          <th>Bank</th>
          <th>Opprettet</th>
          <th>Lukket</th>
          <th>Konto status</th>
        </tr>
      </thead>
      <tbody id="kontoTableBody">
        <!-- Kontoene vil bli lagt til her dynamisk -->
      </tbody>
    </table>
    <div class="Knapper">
    <button class="knapp">Opprett konto</button></a>
    <button class="indsettelse">Sett inn penger</button></a>
    <a href="/innskuddshistorikk"><button class="innskuddshistorikk">Innskuddshistorikk</button></a>
    </div>
  </div>

  <script>
    const brukernavn = localStorage.getItem('brukernavn');
    const kontoTableBody = document.getElementById('kontoTableBody');

    if (!brukernavn) {
      alert('Du må være logget inn.');
      window.location.href = '/login';
    }

    fetch('/api/konto', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        'brukernavn': brukernavn,
      },
    })
    .then(async res => {
      const data = await res.json();
      if (!res.ok) throw new Error(data.message);

      if (data.length === 0) {
        kontoTableBody.innerHTML = 'Du har ingen kontoer.';
        return;
      }

      kontoTableBody.innerHTML = '';
      data.forEach(konto =>{
        const opprettetDato = konto.opprettelsedatoK
          ? new Date(konto.opprettelsedatoK).toLocaleDateString('no-NO', {
            day: '2-digit', 
            month: '2-digit', 
            year: 'numeric' 
          })
          : 'Ukjent';

          const lukkeDato = konto.lukkedatoK
          ? new Date(konto.lukkedatoK).toLocaleString('no-NO', {
            day: '2-digit', 
            month: '2-digit', 
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
          })
          : 'ikke lukket';

          const erDenLukket = konto.lukkedatoK !== null;
      
        const row = document.createElement('tr');

          let avsluttKnapp = '';
          let gjennopneKnapp = '';

          if(erDenLukket){
            avsluttKnapp = `<button class="avslutt-knapp" data-konto-id="${konto.kontoID}" disabled>Konto lukket</button>`;
            gjennopneKnapp = `<button class="gjenopne-knapp" data-konto-id="${konto.kontoID}">Gjenåpne konto</button>`;

          }else{
            avsluttKnapp = `<button class="avslutt-knapp" data-konto-id="${konto.kontoID}">Avslutt konto</button>`;
          }

        row.innerHTML = `
          <td>${konto.kontoNavn}</td>
          <td>${konto.saldo}</td>
          <td>${konto.valuta}</td>
          <td>${konto.bank}</td>
          <td>${opprettetDato}</td>
          <td class="lukket-celle"> ${lukkeDato}</td>
          <td class="status-celle">
            ${avsluttKnapp}
            ${gjennopneKnapp}
            </td>
        `;
        
        kontoTableBody.appendChild(row);
          });

          leggTilAvsluttKnapp();
          leggTilgjenopneKnapp();
      })

      .catch(err => {
      console.error('Error in PUT /lukk-konto', err);
      alert('kunne ikke lukke konto')
      });
    

    function leggTilAvsluttKnapp(){
      document.querySelectorAll('.avslutt-knapp').forEach(button => {
        button.onclick = () => {
          const kontoID = button.getAttribute('data-konto-id');

          fetch('/lukk-konto', {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({kontoID: kontoID})
          })

          .then(res => res.json())
          .then(data => {
            console.log('kontoID som sendes til server:', kontoID);

            const now = new Date().toLocaleString('no-NO', {
              day: '2-digit', 
              month: '2-digit', 
              year: 'numeric',
              hour: '2-digit',
              minute: '2-digit',
            });

            const lukketCelle = button.closest('tr').children[5];
            lukketCelle.textContent = now;

            button.disabled = true;
            button.textContent = 'Konto lukket';

            //legg til gjenåpne knapp
            const row = button.closest('tr');
            const statusCelle = row.querySelector('.status-celle');
            const nyKnapp = document.createElement('button');
            nyKnapp.textContent = 'Gjenåpne Konto';
            nyKnapp.classList.add('gjenåpne-knapp');
            nyKnapp.setAttribute('data-konto-id', kontoID);
            statusCelle.appendChild(nyKnapp);

            leggTilgjenopneKnapp();//legg til event listener for gjenåpne knapp
          });
        };
      });
    }

    function leggTilgjenopneKnapp(){
    document.querySelectorAll('.gjenopne-knapp').forEach(button => {
        button.onclick = () => {
          const kontoID = button.getAttribute('data-konto-id');

          fetch('/gjenopne-konto', {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({kontoID: kontoID})
          })

          .then(res => res.json())
          .then(() => {
            const row = button.closest('tr');
            row.querySelector('.lukket-celle').textContent = 'Konto gjenåpnet';

            //aktivere avslutt knappen igjen
            const avsluttKnapp = row.querySelector('.avslutt-knapp');
            avsluttKnapp.disabled = false;
            avsluttKnapp.textContent = 'Avslutt Konto';

            //fjern gjenåpne knappen
            button.remove();

            leggTilAvsluttKnapp(); //legg til event listener for avslutt knapp igjen
          });
        };
      });
    }
    
  </script>

</body>
</html>