<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <div>
    <h1>Log in</h1>
    <form action="/login" method="post"> 
      <input type="text" name="name" placeholder="Brukernavn">
      <br>
      <input type="text" name="password" placeholder="Password">
    </form>
    <a href="/portefolje"><button class="Submit">Submit</button></a>
  </div>
  <a href="/"><button class="home-button">Home</button></a>
  
</body>
</html>