<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <div>
    <h1>Log in</h1>
    <form > 
      <input type="text" placeholder="Brukernavn" id="brukernavn">
      <br>
      <input type="text" placeholder="Password" id="passord">
      <button type="button" class="Submit" id="submitbutton">Submit</button>
    </form>
  </div>
  <a href="/byttepassord"><button class="byttepassord">Bytt passord</button></a>  
  <a href="/"><button class="home-button">Home</button></a>
  
</body>
<script>
  const submitbutton = document.getElementById('submitbutton');
  
  
  submitbutton.addEventListener('click', function(event) {
    event.preventDefault(); 
    const brukernavn = document.getElementById('brukernavn').value;
    const passord = document.getElementById('passord').value;
    console.log(brukernavn, passord)
   
    fetch('/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        brukernavn: brukernavn,
        passord: passord
      })
    })
    .then(async response => {
        if (!response.ok) {
        return response.json().then(data => { 
          throw new Error(data.message); 
        });
    }
    return response.json();
    })
    .then(data => {
    console.log('Innlogging vellykket:', data);
    localStorage.setItem('brukernavn', brukernavn); // Lagre brukernavnet i localStorage
    window.location.href = '/opprettKonto'; // Suksess: gå til kontosiden
  })
  .catch(error => {
    console.error('Error:', error);
    res.status(500).json({ message: 'Internal Server Error' });
  });
});
</script>
</html>