
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opprett konto</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/opprettKonto.css">
  <link rel="stylesheet" href="/styles/menyPanel.css">
</head>
<body>

  <%- include ('partials/menyPanel') %> 
  
  <div class="formContainer">
    <h1>Opprett Konto</h1>
   <form id="opprettKontoForm">
      <label for="kontoNavn">Kontonavn:</label>
      <input type="text" id="kontoNavn" name="kontoNavn" required>
    
      <label for="valuta">Valuta:</label>
      <input type="text" id="valuta" name="valuta" required>
    
      <label for="opprettelsedatoK">Opprettelsesdato:</label>
      <input type="date" id="opprettelsedatoK" name="opprettelsedatoK" required>
    
      <label for="saldo">Saldo:</label>
      <input type="number" id="saldo" name="saldo" required>
    
      <label for="bank">Bank:</label>
      <input type="text" id="bank" name="bank" required>
      
      <button type="submit" id="submitbutton" class="Submit">Opprett Konto</button>
  </form>
<script>
  const submitbutton = document.getElementById('submitbutton'); //referer til send kanppen
  const brukernavn = localStorage.getItem('brukernavn'); //henter lagret brukernavn fra nettleseren
  
  submitbutton.addEventListener('click', function(event) {
    event.preventDefault(); //hindrer siden fra å laste på nytt

    //henter verdier fra input feltene
    const kontoNavn = document.getElementById('kontoNavn').value;
    const opprettelsedatoK = document.getElementById('opprettelsedatoK').value;
    const valuta = document.getElementById('valuta').value;
    const bank = document.getElementById('bank').value;
    const saldo = document.getElementById('saldo').value;

    // Validering av input
    if(!brukernavn) {
      alert("Brukernavn mangler. Vennligst logg inn på nytt.");
      return;
    }

    //sender dataen til server via fetch
    fetch('/opprettKonto', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json', //forteller at vi sender json

      },
      body: JSON.stringify({
        kontoNavn: kontoNavn,
        opprettelsedatoK: opprettelsedatoK,
        bank: bank, 
        saldo: saldo,
        brukernavn: brukernavn,
        valuta: valuta
      })
    })
    //behandler svaret fra serveren
    .then(async res => {
      const data = await res.json();
      if (!res.ok) 
      throw new Error(data.message); //hvis feil gi ny feilmelding
      alert('Konto opprettet!');
    })
    .then(() => {
      window.location.href = `/dashboard?brukernavn=${brukernavn}`; //sender brukeren til dashboardet
    })
    //feilmelding
    .catch(error => {
      console.error(error);
      alert(error.message);
    });
  });
</script>
</body>
</html>
