<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opprett Portefølje</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/portofolje.css">
    <link rel="stylesheet" href="/styles/opprettPortefolje.css">
</head>
<body>
    <main class="formContainer">
    <h1>OPPRETT PORTEFØLJE</h1>

    <form action="/opprettPortefolje" method="POST">
        <label for="navn">PORTEFØLJE-NAVN</label>
        <input type="text" id="navn" name="navn" placeholder="Navn på portefølje" required>

        <label for="kontoID">VELG KONTO</label>
        <select id="kontoID" name="kontoID" required>
            <% kontoer.forEach(konto => { %>
                <option value="<%= konto.kontoID %>"><%= konto.kontoNavn %></option>
            <% }) %>
        </select>

        <input type="hidden" name="brukernavn" id="brukernavnSkjult"></input>
        <button type="submit" class="opprettKnapp">Opprett Portefølje</button>
    </form>
    </main>

    <script>
        const brukernavn = localStorage.getItem('brukernavn');

        document.getElementById('brukernavnSkjult').value = localStorage.getItem('brukernavn');
        if (brukernavn && !location.search.includes('brukernavn')) {
            const url = new URL(window.location.href);
            url.searchParams.set('brukernavn', brukernavn);
            window.location.href = url.toString();
        }
        /*
        const brukernavn = localStorage.getItem('brukernavn');
        
        const submitbutton = document.getElementById('submitbutton');
        submitbutton.addEventListener('click', function(event) {
            event.preventDefault();

            const navn = document.getElementById('navn').value;
            const kontoID = document.getElementById('kontoID').value;

            if (!navn || !kontoID) {
                alert('Vennligst fyll ut alle felt.');
                return;
            }

            fetch('/opprettPortefolje', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    navn: navn,
                    kontoID: kontoID,
                    brukernavn: brukernavn
                })
            })
            .then(async res => {
                const data = await res.json();
                if (!res.ok) throw new Error(data.message);
                alert('Portefølje opprettet:')
                window.location.href = '/portefolje';
            })
            .catch(error => {
                console.error('Error:', error);
            alert(error.message)
            });
        });
        */
    </script>
</body>
</html>