<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opprett konto</title>
  <link rel="stylesheet" href="opprettKonto.css">
</head>
<body>
  <div>
    <h1>Bli kunde</h1>
    <form > 
      <input type="text" placeholder="kontoNavn" id="kontoNavn">
      <br>
      <input type="text" placeholder="opprettelsesdato" id="opprettelsesdatoK">
      <br>
      <input type="text" placeholder="bank" id="bank">
      <br>
      <button type="button" class="Submit" id="submitbutton">Submit</button>
    </form>
  </div>
  <a href="/"><button class="home-button">Home</button></a>
</body>
<script>
  const submitbutton = document.getElementById('submitbutton');
  
  
  submitbutton.addEventListener('click', function(event) {
    event.preventDefault(); 
    const brukernavn = localStorage.getItem('brukernavn');
    const kontoNavn = document.getElementById('kontoNavn').value;
    const opprettelsesdatoK = document.getElementById('opprettelsesdatoK').value;
    const bank = document.getElementById('bank').value;
    console.log(kontoNavn, opprettelsesdato, bank)
   
    fetch('/opprettKonto', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        kontoNavn: kontoNavn,
        opprettelsesdatoK: opprettelsesdatoK,
        bank: bank 
      })
    })
    .then(async res => {
  const data = await res.json();
  if (!res.ok) throw new Error(data.message);
  alert("Konto opprettet!");
})
.catch(err => {
  console.error(err);
  alert(err.message);
  });
});
</script>
</html>