<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portefolje</title>
  <link rel="stylesheet" href="portefølje.css">
</head>
<body>
  <h1>Min portefølje</h1>
  <p>Her kan du se din portefølje</p>
  <a href="/"><button class="home-button">Home</button></a>
</body>
</html>