<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofølje</title>
</head>
<body>
    <%- include ('partials/menyPanel') %>

    <main class="main-content">
        <h1>Portofølje</h1>
        <p>Her kan du se din portofølje</p>
        <div id="portofolje">Portofølje</div>
        <a href="/"><button class="home-button">Home</button></a>
    </main>
</body>
</html>