<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portefølje</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/portefolje.css">   
    <link rel="stylesheet" href="/styles/menyPanel.css">
</head>
<body>
    <%- include ('partials/menyPanel') %>

    <main class="main-content">
        <div id="knappContainer">
            <a href="/opprettPortefolje" class="opprettKnapp"><button class="opprettKnapp">Opprett portefølje</button></a>
        <h1>Portefølje</h1>
        <p>Her kan du se din portefølje</p>
        <div id="portefolje">
            <table>
                <thead>
                    <tr>
                        <th>Porteføljenavn</th>
                        <th>Konto</th>
                        <th>Saldo</th>
                        <th>Opprettet</th>
                    </tr>
                    <tbody id="portefoljeOversikt"><!-- Porteføljene vil bli lagt til her dynamisk -->
                </thead>
            </div>
        </main>

    <script>
        const brukernavn = localStorage.getItem('brukernavn');

        if (!brukernavn) {
            alert('Du må være logget inn.');
            window.location.href = '/login';
        }

        fetch('/api/portefolje', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'brukernavn': brukernavn,
            }
        })

        .then(res => res.json())
        .then(portefoljer => {
            const tbody = document.getElementById('portefoljeOversikt');

            if (!portefoljer.length) {
                document.getElementById('portefolje').innerHTML = '<p>Ingen porteføljer funnet</p>';
                return;
            }

            portefoljer.forEach(portefolje => {
                const li = document.createElement('tr');
                li.innerHTML = `
                <td>${portefolje.portefoljeNavn}</td>
                <td>Konto: ${portefolje.kontoNavn}</td>
                <td>Saldo: ${portefolje.saldo} DKK</td>
                <td>Opprettet: ${new Date(portefolje.opprettelsedatoP).toLocaleDateString('no-NO')}
                    `;
                tbody.appendChild(li);
            });
        })
        .catch(err => {
            console.error('Error ved å hente portefoljer:', err);
        });
        /*
        const brukernavn = localStorage.getItem('brukernavn');

        const url = new URL(window.location.href);
        if (!url.searchParams.get('brukernavn')){
            url.searchParams.set('brukernavn', brukernavn);
            window.location.href = url.toString();
        }
        */
    </script>
</body>
</html>