<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <title>Registrer Handel</title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/salg.css">
  <link rel="stylesheet" href="/styles/menyPanel.css">
</head>
<body>
  <%- include('partials/menyPanel') %>

  <main class="formContainer"> 
    <h1>REGISTRER SALG</h1>

    <form id="handelForm">
      <div class="form-group">
        <label for="aksjeValg">Velg aksje:</label>
        <input type="text" id="aksjeValg" required>
      </div>

      <div id="aksjeInfo" style="display: none;">
        <h2 id="aksjeNavn"></h2>
        <p> <span id="aksjePris"></span></p>
      </div>

      <div class="form-group">
        <label for="beløp">Beløp:</label>
        <input type="number" id="mengde" required>
      </div>

      <div class="form-group">
        <p>Transaksjons settes til 0,05% av kjøps sum </p>
        <input type="text" id="gebyr" required>
      </div>
      <button type="submit">Bekreft salg</button>
    </form>
  </main>

  <script>
    const portefoljeID = localStorage.getItem('aktivPortefoljeID');
    const registrerHandelKnapp = document.querySelector('button[type="submit"]')

    fetch(`/api/konto-status/${portefoljeID}`)
      .then(res => res.json())
      .then(data =>{
        console.log("lukkedatoK fra server:", data);

        if(data.lukkedatoK){
          // Hvis portoføljen er lukket, så
          registrerHandelKnapp.disabled = true;
          registrerHandelKnapp.textContent = "Det er ikke mulig å foreta en transaksjon, når kontoen er lukket."
        }
        else{
          registrerHandelKnapp.disabled = false;
          registrerHandelKnapp.textContent = "Registrer Salg";
        }
      })
      .catch(err => {
        console.log("Klarte ikke hente kontostatus", err);
      });

      const aksjeInput = document.getElementByID('aksjeValg');
      const datalist = document.createElement('datalist');
      datalist.id = 'aksjeListe';
      document.body.appendChild(datalist);
      aksjeInput.setAttribute('list', 'aksjeliste')

      fetch('/aksjeienkeltportefolje', {
        method: 'POST',
        headers: {'Content-type': 'application/json'},
        body: JSON.stringify({portefoljeID})
      })

      .then(res => res.json())
      .then(aksjer => {
        aksjer.forEach(aksje => {
            const mulighet = document.createElement('mulighet');
            mulighet.value = aksje.navn;
            mulighet.setAttribute('data-isin', aksje.ISIN)  // Legg til ISIN som data-attributt
            datalist.appendChild(mulighet);
        })
      })

    
      fetch(`/api/aksje/${navn}`) 
        .then(res => res.json()) 
        .then(data => {
          aksjeData = data; 
          aksjeNavn.textContent = data.shortName;  
          aksjePris.textContent = data.regularMarketPrice; 
          aksjeInfo.style.display = 'block'; 
        })
        .catch(err => { 
          console.error(err); 
          alert("Fant ikke aksjen. Sjekk navnet."); 
        });

    document.getElementById('handelForm').addEventListener('submit', (handel) => {
      handel.preventDefault();

      const mengde = parseFloat(document.getElementById('mengde').value);
      const gebyr = parseFloat(document.getElementById('gebyr').value);
      const type = document.getElementById('handelType').value;
      const totalSum = aksjeData.regularMarketPrice * mengde;
      });
  </script>
</body>
</html>