body {
  margin: 0;
  background-color: #1E1E1E;
  font-family: 'Inter,' sans-serif;
  color: #1E1E1E;
}

h1 {
  color: #c3c3c3;
  text-align: center;
  font-family: 'Inter,' sans-serif;
  font-size: 40px;
  margin-top: 40px;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  font-family: 'inter', sans-serif;
  background-color: #ffffff;
  width: 450px;
  flex-direction: column;
  gap: 8px;
  display: flex;
  align-items: center;
}

.form-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

form input {
  width: 90%;
  padding: 12px;
  margin: 12px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #c3c3c3;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.Submit {
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  border-radius: 8px;
}