.Submit{
    background-color: #73ec6a;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

form{
    border-radius: 12px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    gap: 12px;
}

h1{
  color: #c3c3c3;
  text-align: center;
  font-family: 'Inter,' sans-serif;
  font-size: 50px;
  margin-top: 50px;
}

.home-button {
  background-color: #3a3a3a;
  color: #8b8b8b;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 8px;
  font-size: 16px;
}
  
  .home-button:hover {
    background-color: #2b2733; /* Mørkere blå ved hover */
  }
  