body {
  margin: 0;
  height: 200vh;
  background-color: #1E1E1E;
  font-family: 'Inter,' sans-serif;
  font-weight: 600;
  background-size: cover;
  background-position: center;
}

h1{
  color: #c3c3c3;
  text-align: center;
  font-family: 'Inter,' sans-serif;
  font-size: 50px;
  margin-top: 50px;
}

h2 {
  color: #c3c3c3;
  text-align: center;
  font-family: 'Inter,' sans-serif;
  font-size: 30px;
  margin-top: 10px;
}

p{
  color: #c3c3c3;
  text-align: center;
  font-family: 'Inter,' sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

button {
  background-color: #3a3a3a;
  color: #8b8b8b;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Login{
  background-color: #3a3a3a;
  color: #8b8b8b;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 20px;
  width: 10%;
  top: 70px;
}

.Blikunde{
  background-color: #3a3a3a;
  color: #8b8b8b;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 20px;
  width: 10%;
  top: 120px;
}

.home-button {
  background-color: #3a3a3a;
  color: #8b8b8b;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 8px;
  font-size: 16px;
}

.loginorcreate{
  background-color: #3a3a3a;
  color: #8b8b8b;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 20px;
  width: 10%;
  top: 20px;
  right: 0px;
}

.generelt{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1b1b1b;
  color: #84837e;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}
.about-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1b1b1b;
  color: #84837e;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

.stock-table {
    position: absolute;
    top: 450px; /* plasser litt under navbar */
    right: 0;
    width: 50vw; /* halvparten av skjermen */
    background-color: rgba(27, 27, 25, 0.95); /* hvit + 75% gjennomsiktighet */
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
.stock-table h2 {
    color: #2c64bc;
    margin-bottom: 16px;
  }
  
.stock-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 8px;
}
  
.stock-table th, .stock-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #84837e;
  color: c3c3c3;
}
  
.stock-table tr:hover {
  background-color: #2b2733;
}
  
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #1b1b1b;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
}