body {
  margin: 0;
  font-family: 'inter', sans-serif;
  background-color: #1e1e1e;
  color: #c3c3c3;
}

h1 {
  font-size: 24px;
  color: #c3c3c3;
  margin-right: 800px;
}

.main-content {
  margin-left: 160px; /* plass til menyen */
  padding: 32px;
  max-width: 100%;
}

.knapp {
  background-color: #242424;
  color: #8b8b8b;
  font-family: 'inter', sans-serif;
  font-size: 12px;
  position: absolute;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.knapp:hover {
  background-color: #484eff;
} 

.knapp {
  top: 20px;
  right: 30px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #1b1b1b;
  color: #c3c3c3;
  font-family: 'inter', sans-serif;
  font-size: 16px;
}

table {
  width: 100%;
  background: #1b1b1b;
  width: 80%;
  border-collapse: collapse;
  margin-top: 40px;
  font-size: 12px;
  border-radius: 12px;
  margin-left: 250px;
}

th {
  padding: 16px 12px;
  text-align: left;
}

td {
  padding: 16px 12px;
  text-align: left;
}