body {
    background-color: #1e1e1e;
    color: #c3c3c3;
    font-family: 'inter', sans-serif;
    margin: 0;
}

h1 {
    font-size: 24px;
    color: #c3c3c3;
    margin-left: 250px;
}

.main-content {
    margin-left: 250px;
    margin-right: 50px;
    max-width: 100%;
}

.topp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.topp h1 {
    font-size: 32px;
    color: #c3c3c3;
    margin: 0;
}

.oversiktSeksjon {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 40px;
    padding: 0 40px;
    flex-wrap: wrap;
}

.opprettKnapp {
    background-color: #1b1b1b;
    color: #c3c3c3;
    border: none;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    width: 350px;
    transition: background-color 0.3s ease;
    margin-right: 50px;
}
.opprettKnapp:hover {
    background-color: #484eff;
}

table {
    border-radius: 12px;
    background: #1b1b1b;
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
    font-size: 12px;
}

thead {
    background-color: #2a2a2a;
}

th {
    padding: 8px;
    text-align: left;
}

td {
    padding: 8px;
    text-align: left;
}

.diagramChart {
    background-color: #1b1b1b;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    max-width: 500px;
    align-items: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.diagramChart canvas {
    width: 300px;
    height: 300px;
}

.overiskt {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.samletVerdi {
    background-color: #1b1b1b;
    flex: 1 1 30%;
    border-radius: 12px;
    padding: 16px;
    width: 300px;
    color: #c3c3c3;
    margin: 16px;
    font-size: 12px;
}

.endringerSisteDager {
    background-color: #1b1b1b;
    flex: 1 1 30%;
    border-radius: 12px;
    padding: 16px;
    width: 300px;
    color: #c3c3c3;
    margin: 12px;
    font-size: 12px;
}

.åpnePortefolje {
    background-color: #2a2a2a;
    flex: 1 1 10%;
    border-radius: 12px;
    padding: 16px;
    width: 300px;
    color: #c3c3c3;
    font-size: 12px;
}